* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main_color: hsl(214, 100%, 41%);
}

body {
  background-color: hsl(220, 15%, 16%);
  color: white;
}
.navbar {
  background-color: var(--main_color);
  height: 80px;
  color: white;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 0.5em;
}
.navbar ul {
  display: flex;
  gap: 40px;
}

.navbar ul a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.subscribe {
  background-color: rgb(223, 74, 74);
  padding: 10px 20px;
  border-radius: 0.5rem;
  text-decoration: none;
  color: white;
}
/* main */
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  padding: 0.5em 4em;
  width: 100%;
  height: 100vh;
}
main .news {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
.news-content {
  display: flex;
  gap: 10px;
}

.describtion {
  width: 400px;
}

/* healines */
.Headlines {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Headline-card {
  width: 500px;
  height: 100px;
  display: flex;
  background-color: hsl(222, 14%, 32%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.5em 1em;
  color: white;
}

.Headline-card img {
  width: 200px;
  height: 70px;
}
